<%= form_with model: user do |form| %>
    <% if user.errors.any? %>
        <ul>
            <% user.errors.each do |error| %>
            <li> <%= error.full_message %> </li>
            <% end %>
        </ul>
    <% end %>
    <%= form.label :username %> 
    <%= form.text_field :username, placeholder: "Enter username" %>
    <%= form.label :email %> 
    <%= form.email_field :email, placeholder: "example@example.com"%>
    <%= form.label :password %> 
    <%= form.password_field :password, placeholder: "Enter password 5 to 6" %>
    
    <%= form.submit %>
<% end %>